<section class="main-content">
    <div class="content">
        <h3 class="hungry-heading">Are you hungry?</h3>
        <h1 class="heading-2">Don't Wait !</h1>
        <button class="btn">Order Now</button>
    </div>

</section>

<section class="menu-section">
    <h1 class="menu">Pizza Catalog</h1>
    <div class="menu-container">
        <% pizzas.forEach(function(pizza) { %>
        <div class="container">
            <img src="/Images/<%= pizza.image %>" alt="pizza" class="pizza">
            <div class="name-size">
                <h3><%= pizza.name %></h3>
                <p><%= pizza.size %></p>
            </div>
            <div class="price-button">
                <h4>₹<%= pizza.price %></h4>
                <button class="add-to-cart" data-pizza="<%= JSON.stringify(pizza) %>">+ Add</button>
            </div>
        </div>
        <% }) %>

    </div>
</section>